<h2>Favourite articles</h2>

{% for article in collections.featured | reverse %}
    <article class="post-snippet">
        <code>{{ article.data.date | date }}</code>
        <a href={{ article.url }} rel="bookmark">{{ article.data.title }}</a>
        {% for cat in article.data.categories %}
            <span class="snippet__category"> - {{ cat }}</span>
        {% endfor %}
    </article>
{% endfor %}

<a href="/archive/">See all...</a>