<div id="rugby-pools">
    <div class="rugby--v2 wrapper--rugby-wide">
        <div class="pool__wrapper">
            <h2 class="">Oh boy, did I get Pool A wrong!</h2>
            <div class="pool pool--wide">
                <div class="pool__column pool__column--graphs">
                    <div class="matches">
                        <div class="match">
                            <span class="match__date">Sep.20 11:45</span>
                            <span class="match__team">jap</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 72.63%;"><span class="bar__value">72.63%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 27.37%;"><span class="bar__value">27.37%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">rus</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Sep.22 08:45</span>
                            <span class="match__team">ire</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 61.45%;"><span class="bar__value">61.45%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 38.55%;"><span class="bar__value">38.55%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">sco</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Sep.24 11:15</span>
                            <span class="match__team">sam</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 58.29%;"><span class="bar__value">58.29%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 41.71%;"><span class="bar__value">41.71%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">rus</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Sep.28 08:15</span>
                            <span class="match__team">ire</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 71.75%;"><span class="bar__value">71.75%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 28.25%;"><span class="bar__value">28.25%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">jap</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Sep.30 11:15</span>
                            <span class="match__team">sco</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 68.11%;"><span class="bar__value">68.11%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 31.89%;"><span class="bar__value">31.89%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">sam</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Oct.03 11:45</span>
                            <span class="match__team">ire</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 83.51%;"><span class="bar__value">83.51%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 16.49%;"><span class="bar__value">16.49%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">rus</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Oct.05 11:35</span>
                            <span class="match__team">sam</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 52.69%;"><span class="bar__value">52.69%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 47.31%;"><span class="bar__value">47.31%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">jap</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Oct.09 08:15</span>
                            <span class="match__team">sco</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 73.05%;"><span class="bar__value">73.05%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 26.95%;"><span class="bar__value">26.95%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">rus</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Oct.12 11:45</span>
                            <span class="match__team">ire</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 74.47%;"><span class="bar__value">74.47%</span></div>
                                <div class="
                                    bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 25.53%;"><span class="bar__value">25.53%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">sam</span>
                        </div>
                        <div class="match">
                            <span class="match__date">Oct.13 11:45</span>
                            <span class="match__team">sco</span>
                            <div class="match__bar">
                                <div class="
                                    bar__inner
                                    bar__inner--0
                                    bar__inner--win" style="width: 65.73%;"><span class="bar__value">65.73%</span></div>
                                <div class="bar__inner
                                    bar__inner--1
                                    bar__inner--loss" style="width: 34.27%;"><span class="bar__value">34.27%</span></div>
                                <span class="match__bar-divider"></span>
                            </div>
                            <span class="match__team match__team--last">jap</span>
                        </div>
                    </div>
                </div>
                <div class="pool__column-divider"></div>
                <div class="pool__column">
                    <div class="results__wrapper">
                        <ol class="pool-results">
                            <li class="result result__heading"><span class="result__number">#</span><span class="result__name">Team</span><span class="result__wins">Wins</span><span class="result__points">Points</span></li>
                            <li class="pool-result result__0"><span class="result__number">1</span><span class="result__name">Ireland</span><span class="result__wins">4</span><span class="result__points">17</span><span class="result__final">QF4</span></li>
                            <li class="pool-result result__1"><span class="result__number">2</span><span class="result__name">Scotland</span><span class="result__wins">3</span><span class="result__points">12</span><span class="result__final">QF2</span></li>
                            <li class="pool-result result__2"><span class="result__number">3</span><span class="result__name">Samoa</span><span class="result__wins">2</span><span class="result__points">8</span></li>
                            <li class="pool-result result__3"><span class="result__number">4</span><span class="result__name">Japan</span><span class="result__wins">1</span><span class="result__points">5</span></li>
                            <li class="pool-result result__4"><span class="result__number">5</span><span class="result__name">Russia</span><span class="result__wins">0</span><span class="result__points">1</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>