---
layout: showcase.njk
title: Portfolio
description: "Some of the things I've made or done lately..."
---
{% for project in collections.showcase | reverse %}
    <article class="showcase-thumbnail">

        <div class="showcase-thumbnail__date">
            <div class="showcase-thumbnail__date-inner">
                <code>{{ project.data.showcase_type }}</code>
            </div>
        </div>

        <div class="showcase-thumbnail__content">
            {% if project.data.image %}
                <div class="showcase-thumbnail__image {% if project.data.showcase_display !== "full" %}showcase-thumbnail__image--small{% endif %}">
                    <img title="{{project.data.title}}" alt="{{project.data.title}}" src="/images/showcases/{{project.data.image}}"/>
                </div>
            {% endif %}
            <div class="showcase-thumbnail__meta {% if project.data.showcase_display === "condensed" %}showcase-thumbnail__meta--wide{% endif %}">
                <div class="showcase-thumbnail__meta-inner">
                    <div class="showcase-thumbnail__meta-header">
                        <h2 class="showcase-thumbnail__title">{{ project.data.title }}</h2>
                        {% if project.data.showcase_link %}
                            <a class="showcase-thumbnail__link" href="{{ project.data.showcase_link.link }}">
                                <svg class="showcase-thumbnail__link-icon" viewBox="0 0 512 512" id="link"><path d="M488.727 0H302.545c-12.853 0-23.273 10.42-23.273 23.273s10.42 23.273 23.273 23.273h129.997L192.999 286.09c-9.089 9.089-9.089 23.823 0 32.912a23.195 23.195 0 0 0 16.455 6.816 23.194 23.194 0 0 0 16.457-6.817L465.455 79.458v129.997c0 12.853 10.42 23.273 23.273 23.273s23.273-10.42 23.273-23.273V23.273C512 10.42 501.58 0 488.727 0z"></path><path d="M395.636 232.727c-12.853 0-23.273 10.42-23.273 23.273v209.455H46.545V139.636H256c12.853 0 23.273-10.42 23.273-23.273S268.853 93.091 256 93.091H23.273C10.42 93.091 0 103.511 0 116.364v372.364C0 501.58 10.42 512 23.273 512h372.364c12.853 0 23.273-10.42 23.273-23.273V256c-.001-12.853-10.421-23.273-23.274-23.273z"></path></svg>
                                <span class="showcase-thumbnail__link-text">{{ project.data.showcase_link.display }}</span>
                            </a>
                        {% endif %}
                        <div class="entry-meta showcase__topic-links">
                            {% for category in project.data.categories %}
                                <span data-topic="{{category}}" class="showcase__topic-link--button">{{category}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="showcase-thumbnail__excerpt">
                        {{ project.templateContent | safe }}
                    </div>
                </div>
            </div>
        </div>

    </article>
{% endfor %}