// The visible checkbox
.check{
    @extend .clearfix;
    width:1.6rem;
    height:1.6rem;
    position:relative;
    margin:0 auto;
    float:left;
    .symLabel{
        background:$white;
        width:100%;
        height:100%;
        display:block;
        position:absolute;
        border:.2rem solid $grey;
        cursor:pointer;
        border-radius:50%;
        &:before{
            content:'';
            display:block;
            position:absolute;
            opacity:0;
            transition:opacity .3s ease-in-out;
            width:.8rem;
            height:.8rem;
            border-radius:50%;
            // transform:rotate(40deg);
            top:.2rem;
            left:.2rem;
            // border-right:.2rem solid $black;
            // border-bottom:.2rem solid $black;
            background:$primary;
        }
    }

    input[type='checkbox'],input[type="radio"]{
        display:none;
        &:checked + label{ 
            &:before,&:after{
                opacity:1;
            }
        }  
    }
}

.checkWrapper{
    @extend .clearfix;
    .visibleLabel{
        margin:0;
        line-height:1.5;
        float:left;
        padding:.1em .3em;
        cursor:pointer;
    }
}