li {
    // padding-left:1em;
    list-style-position: inside;
}

ol {
    counter-reset: licounter;
    padding-bottom: 2em;
    li {
        list-style-position: outside;
        list-style: none;
        margin-left: 2em;
        position: relative;
        padding-bottom: 1.5em;
        &:before {
            display: block;
            position: absolute;
            top: 0em;
            width: 2em;
            height: 1em;
            line-height: inherit;
            left: -2em;
            letter-spacing: -0.1em;
            // font-size:1.2em;
            font-weight: bold;
            content: "·";
            content: counter(licounter) " –";
            counter-increment: licounter;
            color: $greyDark;
        }
    }
}

ul {
    li {
        list-style: none;
        margin-left: 2em;
        padding-bottom: 1.5em;
        position: relative;
        &:before {
            display: block;
            position: absolute;
            top: 0.6em;
            width: 1rem;
            height: 0.4rem;
            line-height: 1;
            left: -1em;
            font-size: 1.2em;
            // content: "·";
            content: "";
            background: $greyDark;
            border-radius: 0.2rem;
        }
    }
    padding-bottom: 2em;
}

dl {
    dt {
        list-style: none;
        margin-left: 2em;
        position: relative;
        font-weight: bold;
        &:before {
            display: block;
            position: absolute;
            top: 0.6em;
            width: 1rem;
            height: 0.4rem;
            line-height: 1;
            left: -1em;
            font-size: 1.2em;
            content: "";
            background: $greyDark;
            border-radius: 0.2rem;
        }
    }
    dd {
        margin-left: 2em;
        padding-bottom: 1em;
    }
}
