.wrapWidth{
    // max-width:87.5rem;
    max-width:140rem;
    width:96%;
    margin:0 auto;
    position:relative;
    z-index:2;
    @include bp(l1){
        // margin: 0 1em;
    }
}

.half{
    width:49%;
    margin-right:2%;
    float:left;
    &.right{margin-right:0;}
}

.quarter{
    width:23.5%;
    float:left;
    margin-right:2%;
    &.right{
        margin-right:0;
    }
}

.third{
    width:32%;
    float:left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.twoThirds{
    width:66%;
    float:left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.threeQuarters{
    width:74%;
    float:left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.fifth{
    width: 18.4%;
    float: left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.sixth{
    width: 15%;
    float: left;
    margin-right:2%;
    &.right{margin-right:0;}
}

.twenty{
    width:20%;
    float:left;
}

.thirty{
    width:30%;
    float:left;
}

