.rugby-graph__outer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // flex-wrap: wrap;
    @include bp(d2) {
        flex-wrap: wrap;
    }
}

.rugby-graph__wrapper {
    width: 100%;
    max-width: 40rem;
    // min-width: 30rem;
    margin: 0 auto 4rem;
    // margin-bottom: 4rem;
}

.graph--rugby-rankings {
    width: 100%;
    margin-bottom: 0;
}

.caption--rugby-graph {
}

.graph--rugby-rankings path {
    &.line_linear {
        // stroke: $primary;
        stroke-width: 0.1rem;
    }
    &.line_linear--default {
        stroke-width: 0.1rem;
        // stroke-dasharray: 2 4;
    }
    &.line_adjusted {
        stroke: $primary;
        stroke-width: 0.1rem;
    }
    &.line_adjusted--default {
        stroke: $primary;
        stroke-width: 0.1rem;
        // stroke-dasharray: 2 4;
    }
}

.graph__legend {
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph__legend-item {
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph__legend-icon {
    display: block;
    width: 1rem;
    height: 1rem;
    background: $grey;
    margin-right: 0.5rem;
}
.graph__legend-icon--actual {
}
.graph__legend-icon--adjusted {
    background: $primary;
}
.graph__legend-text {
    font-size: 1.4rem;
}
