.collapsible-menu__toggle {
    @extend %buttonReset;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    @include bp(d2) {
        display: flex;
    }
}

.collapsible-menu__text {
    display: block;
    line-height: 1;
    padding-top: 1rem;
    transition: color 0.2s;
    &:before {
        content: "Show ";
    }
}

.collapsible-menu__toggle.open .collapsible-menu__text:before {
    content: "Hide ";
}

.collapsible-menu__icon {
    width: 6rem;
    height: 3rem;
    fill: $black;
    transition: fill 0.2s;
}

.collapsible-menu__toggle:hover {
    color: $orange;
    > .collapsible-menu__icon {
        fill: $orange;
    }
}

.collapsible-menu__toggle:focus {
    outline: none;
    .collapsible-menu__text {
        box-shadow: $orange 0 0.2rem;
    }
}

.collapsible-menu {
    @include bp(d2) {
        // position: absolute;
        // top: 0;
        // right: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        text-align: right;
        padding-top: 4rem;
    }
    &.open {
        height: auto;
    }
}
