.aqoc-player.picobel__player {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 6rem 0;

    .player-trigger {
        flex-shrink: 0;
        flex-grow: 0;
        font-size: 1em;
        border: none;
        appearance: none;
        width: 4em;
        height: 4em;
        background: $black;
        position: relative;
        border-radius: 2em;
        cursor: pointer;
        margin-right: 1em;
        &:focus {
            outline: none;
        }
    }

    .play-trigger__icon {
        display: block;
        width: 1.4em;
        height: 1.4em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $orange;
    }

    .player-trigger__button-text {
        display: none;
    }

    .icon--loading__inner {
        fill: $orange;
        animation: spin infinite linear 1s;
        transform-origin: center;
    }

    .player__body {
        width: 100%;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .meta__wrapper {
        text-align: left;
    }
    .meta__title {
        font-weight: bold;
    }
    .meta__artist {
        &:before {
            content: " – ";
        }
        font-style: italic;
    }

    .timings__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .timings__wrapper {
        font-size: 1.4rem;
    }

    .timings__status {
        height: 1.4em;
        font-size: 1em;
        line-height: 1;
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;
        border: 0.2rem solid $black;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% + 2em);
            height: 100%;
            background-image: repeating-linear-gradient(
                to right,
                $cream 0%,
                $cream 50%,
                $grey 50%,
                $grey 100%
            );
            background-size: 1em 1em;
            background-position-x: 0em;
            background-position-y: 0em;
            animation: background_slide 0.4s linear infinite;
        }
    }

    $progress-slider__height: 1.4rem;
    // The "fake" range slider
    .progress-slider__wrapper {
        height: $progress-slider__height;
        font-size: 1em;
        line-height: 1;
        position: relative;
        // bottom: 0;
        // left: 0;
        width: 100%;
        background: $cream;
        overflow: hidden;
        border: 0.2rem solid $black;
        // Make sure the real range element
        // is the same size as the fake one.
        // Position it on-top of the fake and
        // make it invisible (so we can still
        // get the functionality)
        .progress-slider__range {
            width: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        .progress-slider__indicator {
            height: $progress-slider__height;
            position: absolute;
            top: 0;
            left: 0;
            background: $orange;
            width: 0%;
        }
        .progress-slider__playhead {
            width: 0.4rem;
            height: $progress-slider__height;
            position: absolute;
            top: 0;
            left: 0%;
            margin-left: -0.2rem;
        }
    }

    // Hide dynamic elements until loading has finished
    .aqoc-player.picobel__player.loading .progress-slider__progress-indicator,
    .aqoc-player.picobel__player.loading .progress-slider__playhead {
        display: none;
    }

    // Make sure the range Track is the
    // right size and shape. Needs prefixed
    // versions to ensure cross-browser
    // consistency.
    input[type="range"].progress-slider__range::-webkit-slider-runnable-track {
        width: 100%;
        font-size: 1em;
        height: $progress-slider__height;
        cursor: pointer;
    }
    input[type="range"].progress-slider__range::-moz-range-track {
        width: 100%;
        height: $progress-slider__height;
        cursor: pointer;
    }
    input[type="range"].progress-slider__range::-ms-track {
        width: 100%;
        height: $progress-slider__height;
        cursor: pointer;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes background_slide {
    0% {
        transform: translateX(-1em);
    }
    100% {
        transform: translateX(0em);
    }
}
