.entry-title{
    margin-bottom:.5em;
}

.entry-header{
    margin-top:7em;
    margin-bottom:5em;
    @include bp(d3){
        margin-top:2em;
    }
}
.entry-meta{
    font-size:.8em;
    font-style:italic;
}

.featured-image-wrapper{
    position:relative;
    line-height:1;
    padding-bottom:2em;
    img{
        width:100% !important;
        height:auto;
    }
    .sidenote{
        top:0;
        transform:none;
    }
}