.entry-content.selectable-area,
.entry-content .selectable-area {
    margin-bottom: 5em;
    &.first-selectable-area > p:first-of-type::first-letter {
        font-size: 3.2em;
        line-height: 1;
        display: block;
        float: left;
        color: $primary;
    }
    hanging-punctuation: first;

    a {
        color: $black;
        cursor: pointer;
        text-shadow: $white 0rem 0.1rem, $white 0rem -0.1rem,
            $white -0.1rem 0rem, $white -0.2rem 0rem, $white 0.1rem 0rem,
            $white -0.1rem 0.1rem, $white 0.1rem 0.1rem;
        box-shadow: inset $primary 0 -0.1rem 0 0, $primary 0 0.1rem 0 0;
        // inset $black 0 -.2rem 0 0;
        transition: box-shadow 0.2s, color 0.2s;
        &:hover {
            color: $primary;
            box-shadow: inset $primary 0 -0.2rem 0 0, $primary 0 0.3rem 0 0;
            // box-shadow: inset $white 0 -0rem 0 0, inset $primary 0 -0.4rem 0 0;
            // inset $black 0 -.2rem 0 0;
        }
        code {
            background: rgba($grey, 0.4);
            text-shadow: none;
        }
    }

    h2 {
        padding-top: 3em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        padding-bottom: 0.5em;
    }

    blockquote {
        font-style: italic;
        padding: 0 1em;
        box-shadow: $grey -0.2em 0 0 0;
    }

    code {
        font-size: 1em;
        border: 0.1rem solid $grey;
    }
    pre code {
        border: none;
    }
}

.wf-inactive .entry-content {
    a {
        text-decoration: underline;
        color: $black;
        cursor: pointer;
        text-shadow: none;
        box-shadow: none;
        transition: color 0.2s;
        &:hover {
            color: $primary;
            box-shadow: none;
        }
    }
}
