.tweet-link-wrapper{
    font-size:.8em;
    margin-top:4em;
    color:$greyDark;
    // color:$blackSoft;
    // text-align:center;
    .twitter-icon{
        display:inline-block;
        width:1.6em;
        height:1.6em;
        fill:$primary;
        fill:$black;
        fill:$greyDark;
        fill:$blackSoft;
        position:relative;
        top:.5em;
        margin-right:1em;
    }
    .tweet-this{
        @include bp(d2_r){
            margin-left:1em;
            letter-spacing:.1em;
        }
    }
}

// Override button styles
a.button{
    text-shadow:none !important;
    display:inline-block;
    color:$white !important;
    // box-shadow:none !important;
    box-shadow:rgba($black,.4) 0 0 0 0 !important;
    transition:background .2s, color .2s !important;
    &:hover{
        text-shadow:none !important;
        color:$white !important;
        box-shadow:none !important;
        background:$primary;
    }
}

form.tweet-link-wrapper{
    position:relative;
    padding-right:6em;
    padding-left:2em;
    input{
        border:.2rem solid $primary;
        width:100%;
        font-size:1em;
        height:3em;
        border-top-right-radius:0;
        border-bottom-right-radius:0;
        border-color:$primary;
        border-width:.2rem;
        border-right:0;
    }
    button{
        height:3em;
        font-size:1em;
        width:6em;
        position:absolute;
        background:$primary;
        top:0;
        right:0;
        border-top-left-radius:0;
        border-bottom-left-radius:0;
    }
    .twitter-icon{
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        display:block;
        width:1.6em;
        height:1.6em;
        fill:$primary;
        fill:$black;
        fill:$greyDark;
        fill:$blackSoft;
        left:0;
    }
}