.audio-module-container{
    display:block;
    position:relative;
    z-index:1;
    min-height:10em;
    padding-right:10em;
    border:.2rem solid $black;
    border-top-width:.4em;
    margin:2em auto 1em;
    @include bp(d2){
        padding-right:0;
    }
}

.audio-module-keyboard{
    // border:.2rem solid $black;
    width:100%;
    padding:0 1em 1em 1em;
    // margin-top:1em;
    // width:80%;
    // float:left;
}

.audio-module-key{
    list-style:none;
    width:7.14%;
    float:left;
    border:.2rem solid $white;
    display:block;
    height:10em;
    margin:0;
    padding:0;
    // padding-bottom:20%;
    position:relative;
    z-index:1;
    background:$grey;
    cursor:pointer;
    border-bottom-right-radius:.4em;
    border-bottom-left-radius:.4em;
    border-top-width:0;
    &:before{display:none;}
    &.accidental{
        background:$black;
        width:5%;
        margin-left:-2.5%;
        margin-right:-2.5%;
        // margin-left:-3.571%;
        // margin-right:-3.571%;
        height:6em;
        // padding-bottom:15%;
        border-right-width:.4rem;
        border-left-width:.4rem;
        border-bottom-width:.4rem;
        z-index:2;
    }
    &.playing{
    // &:active{
        background:$primary;
    }
    @include bp(d2){
        border:.1rem solid $white;
        border-bottom-right-radius:.2em;
        border-bottom-left-radius:.2em;
        border-top-width:0;
        &.accidental{
            height:6em;
            border-right-width:.2rem;
            border-left-width:.2rem;
            border-bottom-width:.2rem;
        }
    }
    @include bp(d1){
        width:14.28%;
        &.accidental{
            width:10%;
            margin-left:-5%;
            margin-right:-5%;
        }
        &.octave-5{display:none;}
    }
}

.volume-sections{
    position:absolute;
    top:0;
    right:0;
    padding-top:.5em;
    @include bp(d2){
        position:relative;
        top:auto;
        right:auto;
    }
}

.volume-section{
    position:relative;
    float:left;
    width:3em;
    padding:1em;
    font-family:$code;
    .volume-label{
        position:absolute;
        left:0;
        width:100%;
        font-size:.6em;
        text-align:center;
        &.max{top:0;}
        &.min{bottom:0;}
    }
}

.volume-display-wrapper{
    width:1em;
    height:8em;
    position:relative;
    background:$primary;
    background:linear-gradient($red 0%, $red 5%, $yellow 5%, $yellow 15%, $primary 15%);
    overflow:hidden;
    // float:left;
    .volume-display{
        width:1em;
        height:0;
        position:absolute;
        top:0;
        left:0;
        background:$black;
        // z-index:2;
    }
    .volume-peak{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        border-top:.2rem solid rgba($primary,.8);
        display:block;
    }
}

.tick-marks{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:block;
    // background:rgba(green,.5);
    .tick-mark{
        position:absolute;
        left:0;
        width:100%;
        height:.1rem;
        display:block;
        list-style:none;
        background:rgba($grey,.3);
        margin:0;
        padding:0;
        &:before{
            display:none;
        }
    }
}


$range_height:12em;
.controlStrip{
    font-size:.5em;
    width:5.5em;
    height:$range_height;
    float:left;
    .controlStrip-label{
        display:block;
        width:100%;
        font-size:.6em;
        font-family:$code;
        text-transform:uppercase;
        text-align:center;
        padding-bottom:.5em;
    }
    // margin:0 auto;
    // height:5em;
    // padding:0 1em;
    // background:rgba(red,.5);
    // font-size:.8em;
    .controlStripInner{
      width:$range_height;
      height:5.5em;
      position:relative;
      top:100%;
      transform:rotate(270deg);
      transform-origin:0% 0%;
      // background:rgba(blue,.5);
    }
    input[type="range"]{
      display:block;
      width:$range_height;
      font-size:1em;
      // margin:2em 0 2em 0;
      position:absolute;
      top:2em;
      left:0;
    //   width:50%;
    //   margin:0;
    //   // height:3em;
    }
}

.volume-sections .controlStrip{
    margin-top:.5em;
}