.comments-area{
    // background:$purple-white;
    padding:1em 0;
    margin-top:1em;

    li.comment{
        border-bottom:.1rem solid #ddd;
        padding:.5em 0;
        list-style:none;
    }

    .comment footer{
        // font-size:.8em;
        // font-style:italic;
        @extend %cf;
        // .comment-author{
        //     // width:50%;
        //     padding-right:1em;
        //     float:left;
        // }
        .commentmetadata{
            font-size:.8em;
            font-style:italic;
        }
    }
    .comment-reply-link{
        // font-family:$textBold;
        display:block;
        // text-transform:uppercase;
        // letter-spacing:.1em;
        font-size:.8em;
        // color:$purple-light;
        // color:$white;
        // padding:.2em .5em;
        // border-radius:.2em;
        // background:$red;

    }
    .comment-respond .submit{
        // @extend .basicButton;
    }

}