.svg-vs-png{
    text-align:center;

    .item-label{
        display:inline-block;
        width:10em;
        font-size:.8em;
        line-height:1.2;
        font-style:italic;
        text-align:right;
        vertical-align:top;
        padding-top:2em;
    }
    .item-wrapper{
        display:inline-block;
        overflow:hidden;
        text-align:middle;
        padding:.5em;
        margin:.5em;
        border:.1rem solid $grey;
    }
    .item-mask{
        width:64px;
        height:64px;
        // overflow:hidden;
        position:relative;
    }
    .svg{
        fill:$primary;
    }
    .svg,
    .masked-image{
        display:block;
        position:absolute;
        top:0;
        left:0;
        max-width:none;
    }
    .one-x{
        .svg,
        img{
            width:64px !important;
            height:64px;
        }
    }
    .two-x{
        .svg,
        img{
            width:128px !important;
            height:128px;
        }
    }
    .ten-x{
        .svg,
        img{
            width:640px !important;
            height:640px;
            top:-90px;
        }
    }
}

.inline-image-block{
    width:auto !important;
    height:auto !important;
    max-width:none;
    margin:.5em auto;
    display:block;
}

.example_svg_list{
    display:block;
    text-align:center;
    padding:2em 0;
    li{
        list-style:none;
        display:inline-block;
        width:30%;
        padding:0;
        margin:0;
        &:before{
            display:none;
        }
    }
    svg{
        width:4em;
        height:4em;
    }
    .example_svg_1{fill:$primary;}
    .example_svg_2{fill:$black;}
    .example_svg_3{fill:$grey;}

}