---
layout: main.njk
---
<div id="primary" class="content-area wrapper--main pseudo-home">
    <main id="main" class="site-main has-sidenotes" role="main">
        <div
            itemprop="image"
            itemscope
            itemtype="https://schema.org/ImageObject"
        >
            <svg class="pages-icon" viewBox="0 0 443.2 512">
                <rect x="47.1" y="191" width="68.8" height="15.3" />
                <rect x="47.1" y="229.3" width="226.8" height="15.3" />
                <rect x="47.1" y="114.6" width="226.8" height="15.3" />
                <rect x="47.1" y="152.8" width="226.8" height="15.3" />
                <rect x="47.1" y="267.5" width="226.8" height="15.3" />
                <rect x="47.1" y="305.7" width="185.3" height="15.3" />
                <rect x="47.1" y="76.4" width="226.8" height="15.3" />
                <path d="M382.1,76.4V38.2H317V0H0v435.6h62.4v38.2h61.1V512h319.7V76.4H382.1z M15.3,15.3h286.4v405H15.3V15.3z M77.7,435.6H317
    V321h18v-15.3h-18v-22.9h18v-15.3h-18v-22.9h18v-15.3h-18v-22.9h18V191h-18v-22.9h18v-15.3h-18v-22.9h18v-15.3h-18V53.5h49.8v405
    H77.7V435.6z M427.9,496.7H138.8v-22.9h243.3v-76.4h14v-15.3h-14v-22.9h14v-15.3h-14V321h14v-15.3h-14v-22.9h14v-15.3h-14v-61.1h14
    V191h-14v-22.9h14v-15.3h-14V91.7h45.9V496.7z" />
            </svg>
            <img class="visuallyhidden" src="/images/pages_large.png" alt="" />
            <meta itemprop="url" content="/images/pages_large.png" />
            <meta itemprop="width" content="32" />
            <meta itemprop="height" content="32" />
        </div>

        <div class="clearfix homepage-sidenote-wrapper">
            {{ content | safe}}
            <hr class="homepage-sidenote-hr" />
            <span class="sidenote home-content">{{ description }}</span>
        </div>
    </main>
</div>