---
layout: main.njk
scripts: ['player']
---


<div class="post__header">
    <h1 class="title--page">{{title}}</h1>
    <span class="excerpt__subtitle">
        <span class="excerpt__subtitle">Episode #{{number}}:</span> <time datetime="{{date | datefull }}" itemprop="datePublished">{{date | date}}</time>
    </span>
</div>
<div class="post__content">

    <div class="meta">
        <span class="visuallyhidden">Modified on <time datetime="{{date | datefull }}" itemprop="dateModified">{{date | date}}</time></span>
        <span class="visuallyhidden" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
            <span itemprop="name"><a href="https://plus.google.com/111879829548102811838" itemprop="url" rel="author">Tom Hazledine</a></span>
        </span>
        <span class="visuallyhidden" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="{{global.siteTitle}}" />
            <div itemprop="logo" itemScope itemtype="https://schema.org/ImageObject">
                <img src="/images/aqoc_cover.jpg" alt="" />
                <meta itemprop="url" content="/images/aqoc_cover.jpg" />
                <meta itemprop="width" content="32" />
                <meta itemprop="height" content="32" />
            </div>
        </span>
    </div>
    
    <div class="player__wrapper player__wrapper--episode" id="player__wrapper" data-audio="{{audio}}" data-title="{{title}}" data-artist="{{global.siteTitle}}, episode #{{number}}" data-features='{"title": false}'>
        <audio preload="none" class="post__player" controls src={{audio}}>
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>
        
    {{ content | safe }}
    
    <h2>Get in touch</h2>
    {% include "headshots.njk" %}

</div>
    