---
layout: main.njk
---
<div class="home__header">
    
    <div
        class="logo__wrapper"{css`
            width: ${remWidth}rem;
            font-size: ${rem}rem;
            margin: 1em auto;
        `}
    >
        {% include "icons/logo.njk" %}
        <h1 class="logo__lockup">
            <span class="logo-lockup__small">a question of</span>
            <span class="logo-lockup__large">Code</span>
        </h1>
    </div>


    <h2 class="home__summary">
        A newbie coder and a seasoned veteran discuss the
        questions that always come up when someone begins
        learning to code.
    </h2>

    <div class="home__trailer">
        <div class="player__wrapper" id="player__wrapper" data-audio="https://media.transistor.fm/89b216fe" data-title="Trailer" data-artist="{{global.siteTitle}}">
            <audio preload="none" class="post__player" controls src="https://media.transistor.fm/89b216fe">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </div>
    </div>

    <div class="home__question">
        <a href="mailto:aquestionofcode@gmail.com">
            Ask us a question!
        </a>
    </div>

    <div class="sharing">
        <h3 class="sharing__title">Listen wherever you like:</h3>
        <ul class="sharing__links">
            <li class="sharing__link">
                <a
                    href={{global.rssFeed}}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    RSS
                </a>
            </li>
            <li class="sharing__link">
                <a
                    href={{global.itunes}}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Apple Podcasts
                </a>
            </li>
            <li class="sharing__link">
                <a
                    href={{global.overcast}}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Overcast
                </a>
            </li>
        </ul>
    </div>

    {% include "newsletter-signup.njk" %}

    {% include "latest-episode.njk" %}
    
    {% include "featured-episodes.njk" %}

</div>