---
layout: main.njk
---
<div class="home__header">
    
    <div
        class="logo__wrapper"{css`
            width: ${remWidth}rem;
            font-size: ${rem}rem;
            margin: 1em auto;
        `}
    >
        {% include "icons/logo.njk" %}
        <h1 class="logo__lockup">
            <span class="logo-lockup__small">a question of</span>
            <span class="logo-lockup__large">Code</span>
        </h1>
    </div>


    <h2 class="home__summary">
        A newbie coder and a seasoned veteran discuss the
        questions that always come up when someone begins
        learning to code.
    </h2>
    <div class="home__question">
        <a href="mailto:aquestionofcode@gmail.com">
            Ask us a question!
        </a>
    </div>
     <div class="sharing">
        <h3 class="sharing__title">Listen wherever you like:</h3>
        <ul class="sharing__links">
            <li class="sharing__link">
                {# TODO: make dynamic #}
                <a
                    href="https://feeds.transistor.fm/a-question-of-code"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    RSS
                </a>
            </li>
            <li class="sharing__link">
                {# TODO: make dynamic #}
                <a
                    href="https://itunes.apple.com/gb/podcast/a-question-of-code/id1448750157"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Apple Podcasts
                </a>
            </li>
            <li class="sharing__link">
                {# TODO: make dynamic #}
                <a
                    href="https://overcast.fm/itunes1448750157/a-question-of-code"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Overcast
                </a>
            </li>
        </ul>

    </div>

    {% include "latest-episode.njk" %}
    
    {% include "featured-episodes.njk" %}

</div>