---
layout: main.njk
---
<div class="home__header">
    
    <div
        class="logo__wrapper"{css`
            width: ${remWidth}rem;
            font-size: ${rem}rem;
            margin: 1em auto;
        `}
    >
        {% include "icons/logo.njk" %}
        <h1 class="logo__lockup">
            <span class="logo-lockup__small">a question of</span>
            <span class="logo-lockup__large">Code</span>
        </h1>
    </div>


    <h2 class="home__summary">
        A newbie coder and a seasoned veteran discuss the
        questions that always come up when someone begins
        learning to code.
    </h2>
    <div class="home__question">
        <a href="mailto:aquestionofcode@gmail.com">
            Ask us a question!
        </a>
    </div>
     <div class="sharing">
        <h3 class="sharing__title">Listen wherever you like:</h3>
        <ul class="sharing__links">
            <li class="sharing__link">
                <a
                    href={{global.rssFeed}}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    RSS
                </a>
            </li>
            <li class="sharing__link">
                <a
                    href={{global.itunes}}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Apple Podcasts
                </a>
            </li>
            <li class="sharing__link">
                <a
                    href={{global.overcast}}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Overcast
                </a>
            </li>
        </ul>


    </div>

    <div class="home__signup">
        <p>Sign up to be reminded about new episodes:</p>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="https://aquestionofcode.us3.list-manage.com/subscribe/post?u=3abfd67b42386c4eb036d52ff&amp;id=4df0da667a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3abfd67b42386c4eb036d52ff_4df0da667a" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>

    {% include "latest-episode.njk" %}
    
    {% include "featured-episodes.njk" %}

</div>