<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/tomhazledine.app.css" rel="stylesheet">

        {% if custom_stylesheet %}
            <link href="{{custom_stylesheet | safe}}" rel="stylesheet">
        {% endif %}

        <link rel="profile" href="//gmpg.org/xfn/11">
        <title>{% if title and title != "Home" %}{{title}} | {% endif %}Tom Hazledine</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="shortcut icon" href="/images/favicon.ico">

        {% if custom_css %}
            <style type="text/css">{{custom_css | safe}}</style>
        {% endif %}

        <!-- Google+ -->
        <link href="//plus.google.com/111879829548102811838" rel="publisher" />

    </head>
    <body class="body">
        
        {% include "header-animation.html" %}
        
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        
        <header id="masthead" class="site-header" role="banner">
            <div class="header-inner">
                <p class="site-title">
                    Tom Hazledine
                </p>
                <nav id="site-navigation" class="main-navigation" role="navigation">
                    <ul class="menu">
                        <li class="menu-item {% if title === "Home" %}current-menu-item{% endif %}">
                            <a href="/">About</a>
                        </li>
                        <li class="menu-item {% if title === "Archive" %}current-menu-item{% endif %}">
                            <a href="/archive">Archive</a>
                        </li>
                        <li class="menu-item {% if title === "Portfolio" %}current-menu-item{% endif %}">
                            <a href="/showcase">Portfolio</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        {% if title !== "Home" %}
            <a href="/" class="home-link">Home</a>
        {% endif %}

        {{ content | safe }}
        
    </body>

    <footer>
        {% include "tweet-widget.njk" %}

        <script src="/tomhazledine.app.js"></script>
        {% for script in scripts %}
            <script src="/tomhazledine.{{script}}.js"></script>
        {% endfor %}

        {% include "analytics.njk" %}
    </footer>
</html>