<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/aqoc.app.css" rel="stylesheet">

        {% if custom_css %}
            <style type="text/css">{{custom_css | safe}}</style>
        {% endif %}

        <link rel="profile" href="//gmpg.org/xfn/11">
        <title>{% if title and title != "Home" %}{{title}} | {% endif %}{{global.siteTitle}}</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="shortcut icon" href="/images/favicon.ico">

        {% if title == "Home" %}
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:creator" content={{global.twitterHandle}} />
            <meta property="og:url" content="{{global.siteURL}}{{page.url}}" />
            <meta property="og:title" content="{{global.siteTitle}}" />
            <meta property="og:description" content="{{global.summary}}" />
            <meta name="twitter:image" content="{{global.siteURL}}/images/aqoc_cover.jpg" />
            <meta property="og:image" content="{{global.siteURL}}/images/aqoc_cover.jpg" />
        {% endif %}

        {% for tag in tags %}
            {% if tag === 'episode' %}
                <meta name="twitter:card" content="summary" />
                <meta name="twitter:creator" content={{global.twitterHandle}} />
                <meta property="og:url" content="{{global.siteURL}}{{page.url}}" />
                <meta property="og:title" content="{{number}}: {{title}}" />
                <meta property="og:description" content="{{summary}}" />
                <meta name="twitter:image" content="{{global.siteURL}}/images/aqoc_cover.jpg" />
                <meta property="og:image" content="{{global.siteURL}}/images/aqoc_cover.jpg" />
            {% endif %}
        {% endfor %}

        <!-- Google+ -->
        <link href="//plus.google.com/111879829548102811838" rel="publisher" />

    </head>
    <body>
        
        {# <a class="skip-link screen-reader-text" href="#content">Skip to content</a> #}

        {% include "header.njk" %}

        {# {% if title !== "Home" %}
            <a href="/" class="home-link">Home</a>
        {% endif %} #}

    <div class="wrapper">

        {{ content | safe }}

    </div>
        
    </body>

    <footer>
        {# {% include "tweet-widget.njk" %} #}
        {% include "footer.njk" %}

        <script src="/aqoc.app.js"></script>
        {% for script in scripts %}
            <script src="/aqoc.{{script}}.js"></script>
        {% endfor %}

        {% include "analytics.njk" %}
    </footer>
</html>